language: python

notifications:
    email: false

python:
    - "2.7"
    - "3.4"
    - "3.5"

before_install:
    - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
          wget http://repo.continuum.io/miniconda/Miniconda-3.8.3-Linux-x86_64.sh -O miniconda.sh;
      else
          wget http://repo.continuum.io/miniconda/Miniconda3-3.8.3-Linux-x86_64.sh -O miniconda.sh;
      fi
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda info -a
    - deps='pip atlas numpy scipy sphinx nose six future pep8 matplotlib decorator'
    - conda create -q -n test-environment "python=$TRAVIS_PYTHON_VERSION" $deps 
    - source activate test-environment
    - pip install python-coveralls
    - pip install numpydoc

install:
    - pip install -e .[display,testing]

before_script:
    - pep8 mir_eval evaluators tests

script:
    - nosetests -v --with-coverage --cover-package=mir_eval -w tests
    - python setup.py build_sphinx
    - python setup.py egg_info -b.dev sdist --formats gztar

after_success:
    - coveralls
